body {
  font-family: Arial, sans-serif;
  --bag-red: #ea1b0a;
  --bag-darkgray: #575756;
  --bag-lightgray: #f0f0f0;
  --white: #fff;

  --max-image-width: 333px;
  --max-image-height: 277px;

  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

.liftable {
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translate3d(0px, -5px, 0px);
    filter: drop-shadow(30px 10px 4px var(--bag-darkgray));
  }
}

.image-container {
  margin-inline: auto;
  position: relative;
  width: 100vw;
  aspect-ratio: 333 / 277;
  border: 1px solid red;
  max-width: var(--max-image-width);
  max-height: var(--max-image-height);

  display: grid;
  img {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
  }
  .green {
    width: 40%;
    left: 10%;
    top: 55%;
  }
  .blue {
    --max-width-blue: 162px;
    width: 48%;
    left: 27%;
    top: 9%;
  }
  .yellow {
    width: 39%;
    left: 51%;
    top: 53%;
  }
}

.popover {
  border: none;
  margin: auto;
}

.small-popover-container {
  color: var(--white);
  background: var(--bag-red);
  max-width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.small-popover-content {
  overflow-y: auto;
  padding-right: 1rem;
}

.small-popover-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.small-popover-header {
  font-size: 2rem;
}

.small-popover-close-button {
  all: unset;
  color: var(--white);
  align-self: flex-end;
}

.open-large-popover-button {
  all: unset;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 4px;
}

.large-popover {
  background: var(--bag-lightgray);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f6f2ef;
  border-radius: 10px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
