body {
  font-family: Arial, sans-serif;
  --bag-red: #ea1b0a;
  --bag-darkgray: #575756;
  --bag-lightgray: #f6f2ef;
  --white: #fff;

  --max-image-width: 333px;
  --max-image-height: 277px;

  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

.liftable,
.large-popover-image-container img {
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translate3d(0px, -5px, 0px);
    filter: drop-shadow(30px 10px 4px var(--bag-darkgray));
  }
}

.image-container {
  margin-inline: auto;
  position: relative;
  aspect-ratio: 333 / 277;
  border: 1px solid red;
  max-width: var(--max-image-width);

  img {
    position: absolute;
  }
  .green {
    width: 40%;
    left: 10%;
    top: 55%;
  }
  .blue {
    width: 48%;
    left: 27%;
    top: 9%;
  }
  .yellow {
    width: 39%;
    left: 51%;
    top: 53%;
  }
}

.popover {
  border: none;
  margin: auto;
}

.small-popover-container {
  color: var(--white);
  background: var(--bag-red);
  max-width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.small-popover-content {
  overflow-y: auto;
  padding-right: 1rem;
}

.small-popover-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.small-popover-header {
  font-size: 2rem;
}

.small-popover-close-button {
  all: unset;
  color: var(--white);
  align-self: flex-end;
}

.open-large-popover-button {
  all: unset;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 4px;
}

.large-popover-container {
  background: var(--bag-lightgray);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100dvh;
  width: 100dvw;
  padding: 2.5rem;
}

@media screen and (max-width: 420px) {
  .large-popover-container {
    padding-inline: 0.5rem;
  }

  .large-popover-content-outer {
    && {
      padding-inline: 1rem;
    }
  }
}

.large-popover-header {
  grid-area: 1 / 1 / 2 / 3;
  padding-bottom: 2.5rem;
}

.large-popover-content-outer {
  padding: 2rem;
  grid-area: 2 / 1 / 3 / 2;
  /* display: flex;
  flex-direction: column; */
  overflow-y: auto;
  background: var(--white);
  max-width: 800px;
}

.large-popover-content-inner {
  height: 100%;
  overflow-y: auto;
  padding-right: 1rem;
}

.large-popover-image-container {
  grid-area: 2 / 2 / 3 / 3;
  place-self: center;
  padding-left: 2rem;

  & img {
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  .large-popover-image-container {
    display: none;
  }
}

.large-popover-close-button {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 2rem;
  color: var(--bag-red);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f6f2ef;
  border-radius: 10px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
